# Disable script execution within uploads directory
<FilesMatch "\.(php|php[0-9]?|phtml|phar)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<IfModule mod_php.c>
    php_flag engine off
</IfModule>
